@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap');

::selection {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  transition: background-color .3s;
  /*background-image: url('./img/Background.jpg');*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1, h2 {
  font-family: 'DM Mono', monospace;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  font-family: 'DM Mono', monospace;
  font-weight: 300;
}

.hide {
  display: none;
}

/*MENU SCREEN*/

.menu {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

/*GAME SCREEN*/

.tamagotchi {
  position: absolute;
  display: block;
  width: 100%;
  top: 50vh;
  transform: translateY(-50%);
  font-size: 80px;
  text-align: center;
}

#t-body {
  position:absolute;
  top: 400px;
  left: 200px;
}

#name {
  display: inline-block;
  margin-bottom: 300px;
  color: #fff;
  padding: 5px 10px;
  font-size: 30px;
  background-color: #131313;
  font-family: 'DM Mono', monospace;
  font-weight: 500;
}

#play {
  float:left;
  margin-left: 30px;
}

#dirtiness {
  margin-right: 30px;
  float:right;
}

.buttons a, .menu-buttons a {
  display: inline-block;
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #131313;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  transition: background-color .1s;
  text-decoration: none;
  color: #131313;
  font-weight: 300;
  font-family: 'DM Mono', monospace;
  transition: background-color .1s, color .1s;
}

.buttons a:hover, .menu-buttons a:hover {
  background-color: #131313;
  color: #fafafa;
}

.buttons, .menu-buttons {
  width: 100%;
  text-align: center;
}

.hp {
  font-family: 'DM Mono', monospace;
  font-weight: 300;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.hp span {
  font-weight: 500;
}

.hp p {
  display: inline;
}

@media (max-width: 860px) {
  .hp {
    font-size: 20px;
  }
  .buttons a, .menu-buttons a {
    font-size: 30px;
  }
  #name {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .hp p {
    font-size: 20px;
    display: block;
  }
  .buttons a, .menu-buttons a {
    font-size: 20px;
    margin: 20px 5px 0px 5px;
  }
  #name {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .hp p {
    font-size: 20px;
    display: block;
  }
  .buttons a, .menu-buttons a {
    font-size: 20px;
    margin: 20px 2px 0px 2px;
  }
  #name {
    font-size: 20px;
  }
  .tamagotchi {
    top: 120px;
    transform: translateY(0);
  }
}

